.logo{
    margin: 10px;
}

header{
    width: 100%;
    height: 140px;
    background-color: black;
    display: flex;
    align-items: center;
}

body{
    color: white;
    background-color: rgb(49, 49, 49);
}

label{
text-align: right;
}

form{
    background-color: rgb(59, 59, 59);
    padding: 3em;
    border-radius: 15px;
    border: 1px solid grey;
}
form .row .col-6{
    display: flex;
    justify-content: center;
    align-items: center;
}
